@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');


*{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column nowrap;
    /*color: #ffffff;*/
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 50px;
   
}

.texts{
    text-align: left;
    align-items: center;
    height: 250px;
    margin-top: 10%;
    justify-content:space-around;
    justify-content: flex-start;
}
.title{
    color:#1f2b24;
    font-size: 40px;
    text-align: center;
    flex-direction: column;

}
#informations{
    font-size: 20px;
    color:#27ae60;
}
#subTitle{
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 35px;
}
#visual{
    margin-top: 5px;
    height: 560px;
    width: 100%;
    flex-flow: row wrap;
    flex-flow: row nowrap;
    /*background-color: #205374;*/;
    border-color:#1f2b24;
    border-width: 45px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-around;
    

}
#img01{
    margin-top: 5px;
    height: 500px;
    position: relative;
}
#info{
    color: #27A09E;
    
}
#forms{
   
    align-items: center;
    width: 100%;
    height: 250px;
    align-content: center;

}
.inputs{
    position: relative;
    align-content: center;
    width: 80px;
    border-color: #1f2b24;
    border-width: 2px;
    padding-left: 50px;
  
}
#dados{
    align-content: center;
    justify-content:space-around;
    text-align: flex-start;
}
.btn btn-primary{
        background-color: #6551e0;
        color:#fff;
        height: 50px;
        width: 140px;
        border: none;
        border-radius: 15%;
        margin-right: 70px;
        margin-top:20px;
        
        

}
#convertion{
    color:#fff;
    align-items: center;
    align-self: center;
    align-content: center;
}